:root {
    --primary-color: rgb(25, 71, 139);
    --secondary-color: rgb(255, 79, 35);
    --background-color: white;
    --button-text: white;
    --button-hover-color: rgb(35, 94, 184);
    --closebutton-hover-color: rgb(255, 133, 103);
    --box-shadow-color: rgb(0, 0, 0, 0.5);
    --link-color: #ff9d8a;
    --link-color-hover: rgb(224, 99, 68);
}

html {
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);
}

body {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--primary-color);
}

.bgshapeA {
    position: absolute;
    width: 100%;
    height: 1500px;
    background-color: var(--secondary-color);
    z-index: -2;
    transform: skewY(-25deg);
    top: -1000px;
}

.content {
    background-color: var(--background-color);
    border-right: 20px solid var(--primary-color);
    border-left: 20px solid var(--primary-color);
    outline: 10px solid var(--secondary-color);
    min-height: 100vh;
    min-width: 250px;
    padding: 0;
}

.logo {
    max-width: 400px;
    width: 100%;
}

input[type="search"] {
    border: 1px solid var(--primary-color);
}

main {
    padding: 32px;
    min-height: 100vh;
}

.pokemon-list>div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.pokemon-button {
    background-color: var(--primary-color);
    color: var(--button-text);
    font-size: 1.1rem;
    transition: transform 0.3s;
    will-change: transform;
}

.pokemon-button:hover,
.pokemon-button:focus {
    background-color: var(--button-hover-color);
    transform: scale(105%);
    color: var(--button-text);
}

/*prevents page from shifting to the left when modal opens*/
.modal-open {
    padding-right: 0 !important;
}

.modal-body ul {
    margin: 16px;
    padding: 0;
}

.modal-body li {
    margin: 2px;
    padding: 4px;
    border-radius: 5px;
    list-style: none;
}

.type-span {
    width: 75px;
    height: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    transform: skewX(-10deg);
    margin-right: 8px;
    padding: 0;
}

.type-span.grass {
    background-color: green;
}

.type-span.poison {
    background-color: rgb(201, 0, 174);
}

.type-span.fire {
    background-color: rgb(255, 145, 0);
}

.type-span.water {
    background-color: rgb(0, 140, 255);
}

.type-span.flying {
    background-color: rgb(199, 217, 255);
    color: black;
}

.type-span.bug {
    background-color: rgb(85, 175, 108);
    color: black;
}

.type-span.normal {
    background-color: rgb(156, 156, 156);
    color: black;
}

.type-span.ground {
    background-color: rgb(151, 82, 42);
}

.type-span.electric {
    background-color: rgb(255, 204, 62);
}

.type-span.fairy {
    background-color: rgb(255, 129, 182);
}

.type-span.fighting {
    background-color: rgb(216, 35, 35);
}

.type-span.steel {
    background-color: rgb(129, 148, 184);
}

.type-span.psychic {
    background-color: rgb(109, 62, 196);
}

.type-span.ghost {
    background-color: rgb(129, 103, 224);
}

.type-span.rock {
    background-color: rgb(170, 152, 138);
}

.type-span.dragon {
    background-color: rgb(243, 125, 89);
}

.type-span.ice {
    background-color: rgb(169, 206, 255);
    color: black;
}

.type-span.dark {
    background-color: rgb(38, 34, 99);
}


.details-profile {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    min-height: 100px;
}

.details-profile p {
    margin: 0;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}

.description {
    font-style: italic;
}


.pokemon-next,
.pokemon-prev {
    background: none;
    color: rgb(0, 0, 0, 0.5);
    border: none;
    font-size: 2rem;
}

.pokemon-next:hover,
.pokemon-prev:hover,
.pokemon-next:focus,
.pokemon-prev:focus {
    color: rgb(0, 0, 0, 0.75);
}

footer {
    background-color: var(--primary-color);
    color: white;
    font-size: 0.8rem;
}

footer>div>div p {
    margin: 0;
}

footer a {
    color: var(--link-color);
}

footer a:hover,
footer a:focus {
    color: var(--link-color-hover);
}

.loading-message {
    margin: 32px;
}

.pokemon-image {
    min-width: 150px;
}

@media all and (max-width: 576px) {
    .modal-title {
        font-size: 1.25rem;
    }
}